.price
{
    margin-top: 110px;
    padding-bottom: 50px;

    background: #f2f2f2;
}

.price:before
{
    display: block;

    width: 100%;
    height: 10em;

    content: '';

    background: rgba(255,255,255,1);
    background: linear-gradient(175deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(242,242,242,1) 51%, rgba(242,242,242,1) 100%);
}

@media (min-width: 700px)
{
    .price
    {
        margin-top: 0;
    }
}

@media (min-width: 1200px)
{
    .price
    {
        margin-top: -25px;
    }
}
