.map
{
    min-height: 200px;

    background-image: url(map.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100%;
}
.map:before
{
    display: inline-block;

    width: 100%;
    min-height: 80px;

    content: '';

    background: url(map-mask.png) no-repeat;
    background-size: 100% 100%;
}

@media (min-width: 1200px)
{
    .map
    {
        min-height: 525px;

        background-image: url(map-l.jpg);
    }
}
