.price-slider__list
{
    list-style: none;

    text-transform: uppercase;

    background: #fff;
}

.price-slider__header
{
    position: relative;

    overflow: hidden;

    height: 100px;

    text-align: center;

    background: #283645;
}

.price-slider__title
{
    margin-bottom: 5px;
    padding-top: 22px;
}
.price-slider__feature
{
    padding: 19px 43px;

    border-bottom: 2px solid #e5e5e5;
    background-repeat: no-repeat;
    background-position: 253px 20px;
}

.price-slider__features
{
    list-style: none;
}


.price-slider__feature_included_yes
{
    background-image: url(yes.png);
}

.price-slider__feature_included_no
{
    background-image: url(no.png);
}
