.logo
{
    float: left;

    text-transform: uppercase;
}

.logo_theme_white
{
    margin-top: 20px;
}
.logo__link
{
    font-size: 32px;
    line-height: 1;

    text-decoration: none;

    color: #fff;
}

.logo_theme_black .logo__link
{
    color: #000;
}

@media (min-width: 700px)
{
    .logo_theme_white
    {
        margin-top: 30px;
    }
    .logo:before
    {
        display: inline-block;

        width: 59px;
        height: 40px;
        margin-right: 10px;

        content: '';

        background: url(glasses.png);
    }
    .logo_theme_black:before
    {
        background: url(glasses-red.png);
    }
}

@media (min-width: 1200px)
{
    .logo:before
    {
        background-image: url(glasses-l.png);
    }
    .logo_theme_black:before
    {
        background: url(glasses-red-l.png);
    }
}
