.research
{
    display: none;

    margin-top: 50px;
}

.research__title
{
    font-size: 30px;

    margin-bottom: 17px;
}
.research__text
{
    line-height: 1.5;

    margin-bottom: 22px;
}
.research__link
{
    text-decoration: underline;

    color: #d22856;
}
.research__description
{
    float: right;

    width: 50%;
    margin-top: 40px;
}

.research__img
{
    float: left;

    width: 42%;

    text-align: center;
}
.research__img .desktop
{
    display: none;
}

@media (min-width: 700px)
{
    .research
    {
        display: block;
    }
}
@media (min-width: 1200px)
{
    .research
    {
        margin-top: 0;
        padding-top: 20px;
        padding-bottom: 68px;

        background-color: #f2f2f2;
    }
    .research__img
    {
        width: 30%;
    }
    .research__description
    {
        width: 70%;
        margin-top: 94px;
        padding: 0 84px;
    }
    .research__title
    {
        margin-bottom: 27px;
    }
    .research__text
    {
        margin-bottom: 42px;
    }
    .research__img .mobile
    {
        display: none;
    }
    .research__img .desktop
    {
        display: block;
    }
}
