.intro
{
    min-height: 458px;
    padding-bottom: 35px;

    text-align: center;

    background-color: #1d2631;
    background-image: url('iphone_s.png'), url('bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 102%, center 0;
    background-size: 320px 314px, cover;
}

.intro .title
{
    margin-top: 20px;
}

@media (min-width: 700px)
{
    .intro
    {
        min-height: 729px;

        background-image: url('iphone.png'), url('bg.jpg');
        background-size: 700px 545px, cover;
    }
    .intro .title
    {
        width: 190px;
        margin-top: 107px;
        margin-left: 55px;
    }
}
