.contact
{
    text-align: center;
}
.contact__header
{
    margin-bottom: 43px;
}

.contact__phone,
.contact__email
{
    margin-bottom: 27px;
}



@media (min-width: 700px)
{
    .contact__phone,
    .contact__email
    {
        display: inline-block;

        margin-bottom: 48px;
    }
    .contact__address
    {
        width: 45%;
        margin: 0 auto;
    }
    .contact__phone,
    .contact__email
    {
        width: 50%;
    }
    .contact__title
    {
        font-size: 18px;

        margin-bottom: 8px;
    }
    .link.title
    {
        font-size: 24px;
    }
}

@media (min-width: 1200px)
{
    .contact
    {
        margin-top: 35px;
    }
    .contact__address,
    .contact__phone,
    .contact__email
    {
        float: left;

        width: 33.33%;
    }
}
