.footer
{
    display: none;

    margin-top: 45px;
    padding-bottom: 25px;

    text-align: center;

    background: #fff;
}

.footer__column
{
    float: left;

    width: 33.33%;
}

@media (min-width: 700px)
{
    .footer
    {
        display: block;
    }
}

@media (min-width: 1200px)
{
    .footer
    {
        min-height: 195px;
    }
    .footer__column
    {
        margin-top: 50px;
    }
}
