.main-menu-desktop__list
{
    display: none;
    float: right;
}
.main-menu-desktop__item
{
    display: inline-block;

    margin-right: 70px;
    padding: 20px 0;
}

.main-menu-desktop__item:last-child
{
    margin: 0;
}

.main-menu-desktop__link
{
    font-size: 18px;

    display: inline-block;

    padding: 20px 0;

    color: #fff;
}


@media (min-width: 1200px)
{
    .main-menu-desktop__list
    {
        display: block;
    }
}
